@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .perspective-1 {
    perspective: 0.063rem;
  }
  .h-full-svh {
    height: 100svh;
  }
  .translate-z-0 {
    transform: translateZ(0rem);
  }
  .-translate-z-1 {
    transform: translateZ(-0.063rem);
  }
  .-translate-z-2 {
    transform: translateZ(-0.125rem);
  }
}

@layer components {
  .parallax {
    @apply h-full-svh overflow-x-hidden perspective-1;
  }
  .parallax-layer {
    @apply absolute right-0 bottom-0 left-0;
  }
  .icon {
    @apply shrink-0 h-full w-full pointer-events-none;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('/test.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100svw 100svh;
}

.fill-mode-forwards {
  animation-fill-mode: forwards;
}

/* All images below are for testing purposes only, in accordance with https://www.pexels.com/ licences, and should be deleted once appropriate images are available. */

.test {
  background-image: url('/test2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100svh;
}

.test-2 {
  background-image: url('/test3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100svh;
}
