@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .perspective-1 {
    perspective: 0.063rem;
  }
  .h-full-svh {
    height: 100svh;
  }
  .translate-z-0 {
    transform: translateZ(0rem);
  }
  .-translate-z-1 {
    transform: translateZ(-0.063rem);
  }
  .-translate-z-2 {
    transform: translateZ(-0.125rem);
  }
}

@layer components {
  .parallax {
    @apply h-full-svh overflow-x-hidden perspective-1;
  }
  .parallax-layer {
    @apply absolute right-0 bottom-0 left-0;
  }
  .icon {
    @apply shrink-0 h-full w-full pointer-events-none;
  }
  .background-images {
    @apply bg-no-repeat bg-fixed bg-center bg-cover;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.fill-mode-forwards {
  animation-fill-mode: forwards;
}
